.tabs {
    flex-basis: 280px;
    display: flex;
    align-items: center;
    &-block {
        height: 251px;
        min-width: 215px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__item {
        z-index: 1;
        position: relative;
        width: fit-content;
        transition: .3s ease;
        color: $tabDisabe;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        cursor: pointer;
        @media (max-width: 444px) {
            &:last-child:before {
                top: 70%;
            }
        }
        &::before {
            content: "";
            transition: .3s ease;
            z-index: -1;
            position: absolute;
            left: -4px;
            top: 50%;
            width: 0;
            height: 9px;
            background: #EBD8CC;
        }
        &:hover:before{
            width: calc(100% + 8px);
        }
        &.active {
            color: $tabActive;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;

            &::before {
                width: calc(100% + 8px);
            }
        }
    }
    @include ad700() {
        flex-basis: auto;
        &-block {
            margin: 0;
            height: auto;
            margin-bottom: 10px;
        }
        &__item {
            width: fit-content;
        }
        &__input {
            display: none;
        }
        &-block {
            margin: 0 auto;
            margin-bottom: 15px;
            width: 96%;
            display: grid;
            grid-template: repeat(3, 30px) / repeat(2, 1fr);
            justify-items: center;
            align-items: center;
            text-align: center;
        }
    }
}