.footer {
    padding: 22px 0px 22px 60px;
    display: flex;
    align-items: center;
    color: $tabDisabe;
    &__text {
        font-family: "Gilroy", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        letter-spacing: 0.175729px;
        & span {
            margin: 0px 30px;
        }
    }
    @include ad700() {
        padding: 22px 0;
        &__text {
            margin: 0 auto;
        }
    }
}