.main {
    &-wrapper {
        position: relative;
        flex: 1 1;
    }
    &-item {
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;
        transition: opacity .3s ease;
        opacity: 0;
        height: 100%;
        display: none;
        flex: 1 1;
        &.active {
            opacity: 1;
        }
    }
    &-wrap {
        display: flex;
        height: 100%;
        @include ad700() {
            flex-direction: column;
        }
    }
    & .tabs {
        flex-basis: 280px;
        display: flex;
        align-items: center;
        &-block {
            height: 251px;
            min-width: 215px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__item {
            z-index: 1;
            position: relative;
            width: fit-content;
            transition: .3s ease;
            color: $tabDisabe;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            cursor: pointer;
            @media (max-width: 444px) {
                &:last-child:before {
                    top: 70%;
                }
            }
            &::before {
                content: "";
                transition: .3s ease;
                z-index: -1;
                position: absolute;
                left: -4px;
                top: 50%;
                width: 0;
                height: 9px;
                background: #EBD8CC;
            }
            &:hover:before{
                width: calc(100% + 8px);
            }
        }
        &__input{
            visibility: hidden;
            height: 0;
            width: 0;
        }
        &__input:checked {
            & + .tabs__item {
                color: $tabActive;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;

                &::before {
                    width: calc(100% + 8px);
                }
            }
        }
        @include ad700() {
            flex-basis: auto;
            &-block {
                margin: 0;
                height: auto;
                margin-bottom: 10px;
            }
            &__item {
                width: fit-content;
            }
            &__input {
                display: none;
            }
            &-block {
                margin: 0 auto;
                margin-bottom: 15px;
                width: 96%;
                display: grid;
                grid-template: repeat(3, 30px) / repeat(2, 1fr);
                justify-items: center;
                align-items: center;
                text-align: center;
            }
        }
    }
    & .content {
        display: flex;
        flex: 1 1;
        background-color: $bgAlternative;
        &-left, &-right {
            flex-basis: 50%;
            min-height: 350px;
        }
        &-right {
            overflow: hidden;
        }
        &-left {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 10px;
        }
        &-wrap {
            position: relative;
            max-width: 435px;
        }
        &-block {
            width: 100%;
            display: none;
            &:nth-child(1) {
                display: block;
            }
        }
        &__counter {
            position: absolute;
            left: 0px;
            bottom: -60%;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 300;
            font-size: 1.7em;
            line-height: 20px;
        }
        &__title {
            color: $base;
            font-family: "Gilroy", sans-serif;
            font-weight: bold;
            font-size: 4.4em;
            line-height: 53px;
            letter-spacing: -0.0255199px;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        &__subtitle {
            color: $base;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 1.8em;
            line-height: 30px;
            letter-spacing: -0.0220791px;
        }
        &-image-block {
            position: relative;
            height: 100%;
            width: 100%;
            display: none;
            overflow-x: hidden;
            &:nth-child(1) {
                display: block;
                & .content__img {
                    background-image: url("../../img/main/img_1.jpg");
                }
            }
            &:nth-child(2) {
                & .content__img {
                    background-image: url("../../img/main/img_2.jpg");
                }
            }
            &:nth-child(3) {
                & .content__img {
                    background-image: url("../../img/main/img_3.jpg");
                }
            }
            &:nth-child(4) {
                & .content__img {
                    background-image: url("../../img/main/img_4.jpg");
                }
            }
            &:nth-child(5) {
                & .content__img {
                    background-image: url("../../img/main/img_5.jpg");
                }
            }
            &:nth-child(6) {
                & .content__img {
                    background-image: url("../../img/main/img_6.jpg");
                }
            }
        }
        &__img {
            height: 100%;
            width: 100%;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            // todo: отображение картинки чтобы она на сжималась
        }
        @media (max-height: 500px) {
            &__counter {
                bottom: -50px;
            }
        }
        @include ad1300() {
            &-wrap {
                padding: 0px 20px;
            }
            &__counter {
                left: 50px;
            }
            text-align: center;
        }
        @include ad1100() {
            flex-direction: column;
            &-left {
                font-size: 9px;
            }
            &__counter {
                bottom: -50px;
            }
        }
        @include ad700() {
            &__counter {
                display: none;
            }
            &-left {
                padding: 0px 15px;
            }
        } 
    }
}