include ../components/header.pug
include ../components/main.pug
include ../components/footer.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- Fonts
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap")
        //- Styles
        link(rel="stylesheet", href="css/style.min.css")
        title MST-TEST
    body
        .wrapper
            +header
            .main-wrapper
                +main
                -for(let i=0; i<3; i++)
                    .main-item.another
                        .container
                            .another-content
            +footer
        script(src="js/script.js")