// General components
@import "general/mixins";
@import "general/reset";
@import "general/fonts";
@import "general/media";
@import "general/grid";

$base: #262525;
$tabActive: #262525;
$tabDisabe: #505050;
$bgAlternative: #F0F0F0;

* {
    box-sizing: border-box;
    &::selection {
        color: #000;
        background: #ebd8cc;
    }
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .main {
        flex: 1 1;
    }
}

// Other components
@import "components/header.scss";
@import "components/main/1style.scss";
.another {
    z-index: 1;
    & .container {
        width: 100%;
        height: 100%;
    }
    &-content {
        width: 100%;
        height: 100%;
        background: #f0f0f0;
    }
}
@import "components/footer.scss";