// General components
@import "general/mixins";
@import "general/reset";
@import "general/fonts";
@import "general/grid";
@import "general/media";

$activeColor: #262525;

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: lightblue;
    font-family: 'Roboto', sans-serif;
}

// Other components
@import "components/header.scss"